//Un bloc de permisos
grant {
permission java.util.PropertyPermission "user.dir", "read";
permission java.util.PropertyPermission "file.separator", "read";
permission java.io.FilePermission "*", "read, write";
permission java.net.SocketPermission "*:80" , "connect, resolve";
};